<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SkuInfoMapper">

    <select id="selectGoodsBySkuId" resultMap="selectGoodsBySkuIdMap">

    </select>

    <resultMap id="selectGoodsBySkuIdMap" type="com.atguigu.gmall.model.list.Goods" autoMapping="true">


    </resultMap>

</mapper>